body{
    background-color:rgb(243, 106, 106);
    font-family: 'Space Mono', monospace;
}
 #main-container{
/* border: solid 2px red; */
width: 90%;
margin: auto;

}
#form-container{
    margin-top: 2rem;
}